{% extends 'base.html' %}

{% block title %}LOGIN | EMS{% endblock %}

{% block content %}

<div class="row justify-content-center mt-5">

    <div class="col-md-5">

        <div class="card shadow-lg border-0">

            <div class="card-header bg-dark text-white text-center">

                <h3>
                    <i class="bi bi-person-circle"></i>
                    Admin Login
                </h3>

            </div>

            <div class="card-body p-4">

                {% with messages = get_flashed_messages(with_categories=true) %}

                    {% if messages %}

                        {% for category, message in messages %}

                            <div class="alert alert-{{ category }} alert-dismissible fade show">

                                {{ message }}

                                <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="alert">
                                </button>

                            </div>

                        {% endfor %}

                    {% endif %}

                {% endwith %}

                <form method="POST">

                    <div class="mb-3">

                        <label class="form-label">
                            Username
                        </label>

                        <input
                            type="text"
                            class="form-control"
                            name="username"
                            placeholder="Enter Username"
                            required>

                    </div>

                    <div class="mb-4">

                        <label class="form-label">
                            Password
                        </label>

                        <input
                            type="password"
                            class="form-control"
                            name="password"
                            placeholder="Enter Password"
                            required>

                    </div>

                    <div class="d-grid">

                        <button
                            type="submit"
                            class="btn btn-primary">

                            <i class="bi bi-box-arrow-in-right"></i>

                            Login

                        </button>

                    </div>

                </form>

            </div>

            <div class="card-footer text-center text-muted">

                Employee Management System

            </div>

        </div>

    </div>

</div>

{% endblock %}